<ion-content>
    <div class="background-default h-100">
        <div class="container">
            <hr>
            <h2 class="sistemas-multimidia">Sistemas Multimídia</h2>
            <button class="btn-1" routerLink="/ementa-disciplina">Ementa</button>
            <button class="btn-1" routerLink="/projetos">Projetos</button>
        </div>
        <footer>
            <img src="../../assets/icon/back.png" class="back_btn" routerLink="/home" alt="Voltar Icon">
        </footer>
    </div>

</ion-content>