.background{
    height:auto;
    padding: 40px 0;
    color:#fff;
    font-size:20px;
    text-align:center;
    border-radius:4px;
    background-color:#233a66;
    background-size: 50px 50px, 10px 30px;
    background-repeat: repeat;
    background-position: 0 bottom;
    background-image:linear-gradient(to bottom, transparent 20px, rgba(0, 4, 44, 0.075) 5px);
}

.detalhes-color{
    color: #fed593;
}
.botoes-color{
    color: #fed591;
}