
footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    margin-left: 8em;
  }


  ion-slide {
    flex-direction: column;
  }

  .container {
    height: 100%;
    padding: 25% 5%;
  }

  .back_btn {
    left: -105px;
    top: 0px;
  }
